<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Edge и ряд мобильных браузеров слишком умны. Отключим это. -->
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="date=no">
        <meta name="format-detection" content="address=no">
        <meta name="format-detection" content="email=no">
        <meta name="google" content="notranslate">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="icon" href="/favicon.ico">

        <meta property="og:type" content="website">
        <meta property="og:locale" content="ru_RU">

        <meta property="og:image" content="image.jpg">
        <meta name="twitter:card" content="summary_large_image">

        <meta name="description" content="">
        <meta property="og:description" content="">

        <title></title>
        <meta property="og:title" content="">

        <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    </head>

    <body>
        <div class="wrapper">
            <div id="app">
                <h1>{{ title }}</h1>

                <form @submit.prevent="onSubmit" >
                    <label>
                        <input type="text" v-model="input.value" :placeholder="input.placeholder" required>
                    </label>
                    <button>Добавить</button>
                </form>

                <div class="notes">
                    <ul class="notes__list">
                        <li class="notes__item" v-for="(note, index) in notes" :key="index">
                            <button @click="remove(index)">&#10005;</button>
                            <p><span>{{ index }}</span> - <span @input="event => getEdit(event, index)" contenteditable>{{ note }}</span></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script src="./app.js"></script>
    </body>
</html>
